<svg version="1.1" height="{{ height }}" id="Calque_Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 838 297" style="enable-background:new 0 0 838 297;" xml:space="preserve">
<style type="text/css">
	.st0{fill:{{ fill }};}
</style>
<rect x="679.9" y="90.7" class="st0" width="17.5" height="70.6"/>
<polygon class="st0" points="739.9,144.2 772.5,99.2 772.5,90.9 715.7,90.9 715.7,106.8 747.1,106.8 713.1,154.1 713.1,161.4 
	772.8,161.4 772.8,144.2 "/>
<polygon class="st0" points="612.5,106.6 612.5,57.2 629,57.2 629,90.1 661.9,90.1 661.9,106.6 "/>
<ellipse transform="matrix(0.9871 -0.1602 0.1602 0.9871 -1.9641 111.2058)" class="st0" cx="688.7" cy="67.8" rx="10.8" ry="10.8"/>
<g>
	<g>
		<path class="st0" d="M123.1,85.3h17.4v73.3h-17.1l-0.9-10.7c-4.2,8.6-15.6,12.8-23.8,12.9c-21.7,0.1-37.8-13.2-37.8-39
			c0-25.3,16.8-38.5,38.2-38.4c9.8,0,19.2,4.6,23.4,11.9L123.1,85.3z M79.1,121.9c0,14,9.7,22.3,21.7,22.3c28.6,0,28.6-44.5,0-44.5
			C88.7,99.7,79.1,107.9,79.1,121.9z"/>
	</g>
	<g>
		<path class="st0" d="M213.4,77.9L226.8,88l-8.2,10.4c5.7,6.4,7.7,13.7,7.7,21.7c0,9.1-3.4,21.9-15.5,27.4
			c12.2,6.1,15.2,14.9,15.2,24.2c0,20.2-15.5,32.7-36.7,32.7s-37.2-12.9-37.2-32.7h18c0,9.5,8.8,15.8,19.2,15.8s18.6-5.7,18.6-15.8
			s-9.5-14.7-18.6-14.7c-22.9,0-37.2-14-37.2-36.9s16.7-37.2,37.2-37.2c5.8,0,11.8,0.7,16.8,4.2L213.4,77.9z M170.1,120.1
			c0,12.8,8.6,20.4,19.2,20.4c10.4,0,19-7.7,19-20.4c0-12.6-8.6-20.7-19-20.7C178.7,99.4,170.1,107.3,170.1,120.1z"/>
	</g>
	<g>
		<path class="st0" d="M253.4,128.5c1.2,9.1,9.1,15.6,21.9,15.6c6.7,0,15.5-2.5,19.6-6.8l11.6,11.5c-7.7,8-20.4,11.9-31.5,11.9
			c-25.3,0-40.3-15.6-40.3-39.1c0-22.3,15.2-38.4,39-38.4c24.5,0,39.9,15.2,37,45.4h-57.3V128.5z M293.3,113.4
			c-1.2-9.5-8.6-14.3-19-14.3c-9.8,0-17.9,4.8-20.5,14.3H293.3z"/>
	</g>
	<g>
		<path class="st0" d="M502.7,128.5c1.2,9.1,9.1,15.6,21.9,15.6c6.7,0,15.5-2.5,19.6-6.8l11.6,11.5c-7.7,8-20.4,11.9-31.5,11.9
			c-25.3,0-40.3-15.6-40.3-39.1c0-22.3,15.2-38.4,39-38.4c24.5,0,39.9,15.2,37,45.4h-57.3V128.5z M542.5,113.4
			c-1.2-9.5-8.6-14.3-19-14.3c-9.8,0-17.9,4.8-20.5,14.3H542.5z"/>
	</g>
	<g>
		<path class="st0" d="M378.7,158.7v-38.4c0-11.2-6.1-19.6-17.7-19.6c-11.2,0-18.7,9.4-18.7,20.5v37.5h-18V85.2h16.2l1.2,10
			c7.4-7.3,14.9-11,24.1-11c17.3,0,31.1,12.9,31.1,36v38.5H378.7z"/>
	</g>
	<g>
		<path class="st0" d="M475.4,149.3c-8.5,8.3-17.4,11.6-28.3,11.6c-21.3,0-39-12.8-39-38.8s17.7-38.8,39-38.8
			c10.4,0,18.4,3,26.5,10.9l-11.5,12c-4.3-3.9-9.7-5.8-14.7-5.8c-12.2,0-21.1,8.9-21.1,21.7c0,14,9.5,21.4,20.8,21.4
			c5.8,0,11.6-1.6,16.1-6.1L475.4,149.3z"/>
	</g>
</g>
<polygon class="st0" points="629,112 629,161.4 612.5,161.4 612.5,128.5 579.6,128.5 579.6,112 "/>
<g>
	<path class="st0" d="M342.7,209.4c2,1.7,3,4,3,6.9s-1,5.2-3,6.9s-4.7,2.5-8.3,2.5H327v8.7h-2.9v-27.5h10.3
		C337.9,206.8,340.7,207.7,342.7,209.4z M340.6,221.3c1.4-1.2,2.2-2.9,2.2-5.1c0-2.2-0.7-3.9-2.2-5.1c-1.4-1.2-3.5-1.8-6.3-1.8H327
		v13.8h7.3C337.1,223.1,339.2,222.5,340.6,221.3z"/>
	<path class="st0" d="M369.3,224.9H352c0.2,2.1,1,3.9,2.5,5.2s3.4,2,5.7,2c1.3,0,2.5-0.2,3.5-0.7c1.1-0.5,2-1.1,2.8-2l1.6,1.8
		c-0.9,1.1-2.1,1.9-3.4,2.5c-1.4,0.6-2.9,0.9-4.5,0.9c-2.1,0-4-0.5-5.6-1.4s-2.9-2.2-3.8-3.8s-1.4-3.4-1.4-5.4s0.4-3.8,1.3-5.4
		c0.9-1.6,2.1-2.8,3.6-3.7s3.3-1.3,5.2-1.3c1.9,0,3.6,0.4,5.2,1.3c1.5,0.9,2.7,2.1,3.6,3.7c0.9,1.6,1.3,3.4,1.3,5.4L369.3,224.9z
		 M354.3,217.8c-1.3,1.3-2.1,2.9-2.3,5h14.7c-0.2-2-0.9-3.7-2.3-5s-3-1.9-5.1-1.9C357.3,215.9,355.6,216.6,354.3,217.8z"/>
	<path class="st0" d="M380.6,214.6c1.3-0.7,2.9-1.1,4.8-1.1v2.7h-0.7c-2.2,0-3.9,0.7-5.1,2s-1.8,3.2-1.8,5.6v10.5H375v-20.7h2.7v4
		C378.3,216.3,379.3,215.3,380.6,214.6z"/>
	<path class="st0" d="M394.9,208.3c-0.6,0.7-0.9,1.6-0.9,2.9v2.4h6.4v2.4H394v18.3h-2.8V216h-3.7v-2.4h3.7V211
		c0-1.9,0.5-3.4,1.6-4.5s2.6-1.7,4.6-1.7c0.8,0,1.5,0.1,2.3,0.3c0.7,0.2,1.3,0.5,1.8,1l-0.9,2.1c-0.8-0.7-1.8-1-3.1-1
		C396.4,207.3,395.5,207.7,394.9,208.3z"/>
	<path class="st0" d="M406.8,233.2c-1.6-0.9-2.9-2.2-3.8-3.8s-1.4-3.4-1.4-5.4s0.5-3.8,1.4-5.4c0.9-1.6,2.2-2.8,3.8-3.7
		c1.6-0.9,3.4-1.3,5.4-1.3s3.8,0.4,5.4,1.3c1.6,0.9,2.9,2.1,3.8,3.7c0.9,1.6,1.4,3.4,1.4,5.4s-0.5,3.8-1.4,5.4
		c-0.9,1.6-2.2,2.9-3.8,3.8c-1.6,0.9-3.4,1.4-5.4,1.4S408.4,234.1,406.8,233.2z M416.1,231.1c1.2-0.7,2.1-1.6,2.7-2.9
		c0.7-1.2,1-2.6,1-4.2c0-1.6-0.3-3-1-4.2s-1.6-2.2-2.7-2.9c-1.2-0.7-2.5-1-4-1s-2.8,0.3-4,1s-2.1,1.6-2.8,2.9c-0.7,1.2-1,2.6-1,4.2
		c0,1.6,0.3,3,1,4.2s1.6,2.2,2.8,2.9c1.2,0.7,2.5,1,4,1C413.7,232.1,415,231.7,416.1,231.1z"/>
	<path class="st0" d="M434,214.6c1.3-0.7,2.9-1.1,4.8-1.1v2.7h-0.7c-2.2,0-3.9,0.7-5.1,2s-1.8,3.2-1.8,5.6v10.5h-2.8v-20.7h2.7v4
		C431.7,216.3,432.7,215.3,434,214.6z"/>
	<path class="st0" d="M475.7,215.8c1.5,1.5,2.2,3.7,2.2,6.6v12h-2.8v-11.7c0-2.1-0.5-3.8-1.6-4.9c-1-1.1-2.5-1.7-4.4-1.7
		c-2.1,0-3.8,0.7-5.1,2c-1.2,1.3-1.8,3.2-1.8,5.5v10.9h-2.8v-11.7c0-2.1-0.5-3.8-1.6-4.9c-1-1.1-2.5-1.7-4.4-1.7
		c-2.1,0-3.8,0.7-5.1,2c-1.2,1.3-1.9,3.2-1.9,5.5v10.9h-2.8v-20.7h2.7v3.8c0.7-1.3,1.8-2.2,3.1-2.9c1.3-0.7,2.8-1,4.5-1
		s3.2,0.4,4.5,1.1c1.3,0.7,2.2,1.8,2.8,3.3c0.8-1.4,1.9-2.4,3.3-3.2s3.1-1.2,4.9-1.2C472.2,213.5,474.3,214.3,475.7,215.8z"/>
	<path class="st0" d="M499,215.5c1.4,1.4,2.2,3.3,2.2,6v12.8h-2.7v-3.2c-0.6,1.1-1.6,1.9-2.8,2.5c-1.2,0.6-2.7,0.9-4.3,0.9
		c-2.3,0-4.1-0.6-5.5-1.7c-1.4-1.1-2-2.6-2-4.4c0-1.8,0.6-3.2,1.9-4.2c1.3-1.1,3.3-1.6,6.1-1.6h6.6v-1.3c0-1.8-0.5-3.1-1.5-4.1
		s-2.5-1.4-4.4-1.4c-1.3,0-2.6,0.2-3.8,0.6s-2.2,1-3.1,1.8l-1.3-2.1c1-0.9,2.3-1.6,3.8-2.1s3-0.7,4.6-0.7
		C495.5,213.5,497.6,214.2,499,215.5z M495.9,231.3c1.1-0.7,2-1.8,2.5-3.1v-3.4h-6.5c-3.5,0-5.3,1.2-5.3,3.7c0,1.2,0.5,2.2,1.4,2.9
		s2.2,1,3.9,1C493.4,232.4,494.7,232,495.9,231.3z"/>
	<path class="st0" d="M525.5,215.8c1.5,1.5,2.3,3.7,2.3,6.6v12H525v-11.7c0-2.1-0.5-3.8-1.6-4.9c-1.1-1.1-2.6-1.7-4.6-1.7
		c-2.2,0-4,0.7-5.3,2s-1.9,3.2-1.9,5.5v10.9h-2.8v-20.7h2.7v3.8c0.8-1.3,1.8-2.2,3.2-2.9c1.3-0.7,2.9-1,4.7-1
		C521.9,213.5,523.9,214.3,525.5,215.8z"/>
	<path class="st0" d="M538.5,233.2c-1.6-0.9-2.9-2.1-3.8-3.8c-0.9-1.6-1.4-3.4-1.4-5.4s0.5-3.8,1.4-5.4c0.9-1.6,2.2-2.8,3.8-3.7
		s3.4-1.3,5.5-1.3c1.8,0,3.4,0.3,4.8,1c1.4,0.7,2.5,1.7,3.3,3L550,219c-0.7-1-1.5-1.8-2.6-2.3c-1-0.5-2.2-0.8-3.4-0.8
		c-1.5,0-2.8,0.3-4,1s-2.1,1.6-2.8,2.9c-0.7,1.2-1,2.6-1,4.2c0,1.6,0.3,3,1,4.2s1.6,2.2,2.8,2.8c1.2,0.7,2.5,1,4,1
		c1.2,0,2.4-0.2,3.4-0.7s1.9-1.3,2.6-2.3l2.1,1.4c-0.8,1.3-1.9,2.4-3.3,3c-1.4,0.7-3,1-4.8,1C542,234.6,540.1,234.1,538.5,233.2z"/>
	<path class="st0" d="M575.2,224.9h-17.3c0.2,2.1,1,3.9,2.5,5.2s3.4,2,5.7,2c1.3,0,2.5-0.2,3.5-0.7c1.1-0.5,2-1.1,2.8-2l1.6,1.8
		c-0.9,1.1-2.1,1.9-3.4,2.5c-1.4,0.6-2.9,0.9-4.5,0.9c-2.1,0-4-0.5-5.6-1.4s-2.9-2.2-3.8-3.8c-0.9-1.6-1.4-3.4-1.4-5.4
		s0.4-3.8,1.3-5.4c0.9-1.6,2.1-2.8,3.6-3.7s3.3-1.3,5.2-1.3s3.6,0.4,5.2,1.3c1.5,0.9,2.7,2.1,3.6,3.7c0.9,1.6,1.3,3.4,1.3,5.4
		L575.2,224.9z M560.2,217.8c-1.4,1.3-2.1,2.9-2.3,5h14.7c-0.2-2-1-3.7-2.3-5c-1.4-1.3-3-1.9-5.1-1.9
		C563.3,215.9,561.6,216.6,560.2,217.8z"/>
	<path class="st0" d="M581.7,233.8c-1.5-0.5-2.7-1.1-3.6-1.8l1.3-2.2c0.9,0.7,2,1.2,3.3,1.7c1.3,0.4,2.7,0.6,4.1,0.6
		c1.9,0,3.3-0.3,4.2-0.9c0.9-0.6,1.4-1.4,1.4-2.5c0-0.8-0.2-1.4-0.7-1.8c-0.5-0.4-1.1-0.8-1.9-1c-0.8-0.2-1.8-0.4-3-0.6
		c-1.7-0.3-3-0.6-4-1c-1-0.3-1.9-0.9-2.6-1.7c-0.7-0.8-1.1-1.9-1.1-3.3c0-1.7,0.7-3.1,2.2-4.2c1.4-1.1,3.4-1.7,6-1.7
		c1.3,0,2.7,0.2,4,0.5c1.3,0.4,2.4,0.8,3.3,1.4l-1.2,2.2c-1.7-1.2-3.7-1.8-6.1-1.8c-1.8,0-3.1,0.3-4,0.9c-0.9,0.6-1.4,1.5-1.4,2.5
		c0,0.8,0.3,1.4,0.8,1.9s1.1,0.8,1.9,1c0.8,0.2,1.8,0.5,3.1,0.7c1.7,0.3,3,0.6,4,0.9c1,0.3,1.8,0.9,2.6,1.6c0.7,0.8,1.1,1.8,1.1,3.1
		c0,1.8-0.8,3.2-2.3,4.3s-3.6,1.6-6.3,1.6C584.8,234.6,583.2,234.3,581.7,233.8z"/>
	<path class="st0" d="M629.4,205.2v29.2h-2.7v-4.1c-0.8,1.4-1.9,2.5-3.3,3.2c-1.4,0.7-2.9,1.1-4.7,1.1c-1.9,0-3.7-0.4-5.3-1.3
		c-1.6-0.9-2.8-2.1-3.7-3.7c-0.9-1.6-1.3-3.4-1.3-5.5c0-2,0.4-3.9,1.3-5.5c0.9-1.6,2.1-2.8,3.7-3.7c1.6-0.9,3.3-1.3,5.3-1.3
		c1.7,0,3.2,0.3,4.5,1s2.5,1.7,3.3,3v-12.4H629.4z M622.9,231.1c1.2-0.7,2.1-1.6,2.8-2.9c0.7-1.2,1-2.6,1-4.2c0-1.6-0.3-3-1-4.2
		s-1.6-2.2-2.8-2.9s-2.5-1-3.9-1c-1.5,0-2.8,0.3-4,1s-2.1,1.6-2.8,2.9c-0.7,1.2-1,2.6-1,4.2c0,1.6,0.3,3,1,4.2s1.6,2.2,2.8,2.9
		s2.5,1,4,1C620.4,232.1,621.7,231.7,622.9,231.1z"/>
	<path class="st0" d="M637.1,208.6c-0.4-0.4-0.6-0.9-0.6-1.4s0.2-1,0.6-1.4c0.4-0.4,0.9-0.6,1.5-0.6s1.1,0.2,1.5,0.6
		c0.4,0.4,0.6,0.8,0.6,1.4c0,0.6-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6S637.5,209,637.1,208.6z M637.2,213.7h2.8v20.7h-2.8
		V213.7z"/>
	<path class="st0" d="M666.9,213.7v18.2c0,3.5-0.9,6.1-2.6,7.8c-1.7,1.7-4.3,2.5-7.8,2.5c-1.9,0-3.7-0.3-5.4-0.8
		c-1.7-0.6-3.1-1.3-4.2-2.3l1.4-2.1c1,0.9,2.2,1.6,3.6,2.1c1.4,0.5,2.9,0.7,4.5,0.7c2.6,0,4.5-0.6,5.8-1.8c1.2-1.2,1.8-3.1,1.8-5.7
		v-2.6c-0.9,1.3-2,2.3-3.4,3s-3,1-4.7,1c-1.9,0-3.7-0.4-5.3-1.3c-1.6-0.9-2.8-2-3.7-3.6c-0.9-1.5-1.4-3.3-1.4-5.2s0.5-3.7,1.4-5.2
		s2.1-2.7,3.7-3.5c1.6-0.8,3.3-1.3,5.3-1.3c1.8,0,3.3,0.4,4.8,1.1c1.4,0.7,2.6,1.7,3.4,3.1v-4L666.9,213.7L666.9,213.7z
		 M660.4,230.1c1.2-0.6,2.1-1.5,2.8-2.7s1-2.5,1-3.9c0-1.5-0.3-2.8-1-3.9c-0.7-1.1-1.6-2-2.8-2.7c-1.2-0.6-2.5-1-4.1-1
		c-1.5,0-2.8,0.3-4,0.9c-1.2,0.6-2.1,1.5-2.8,2.7s-1,2.5-1,3.9c0,1.5,0.3,2.8,1,3.9c0.7,1.2,1.6,2.1,2.8,2.7c1.2,0.6,2.5,1,4,1
		S659.1,230.8,660.4,230.1z"/>
	<path class="st0" d="M674.7,208.6c-0.4-0.4-0.6-0.9-0.6-1.4s0.2-1,0.6-1.4c0.4-0.4,0.9-0.6,1.5-0.6s1.1,0.2,1.5,0.6
		c0.4,0.4,0.6,0.8,0.6,1.4c0,0.6-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6C675.5,209.2,675.1,209,674.7,208.6z M674.7,213.7h2.8
		v20.7h-2.8V213.7z"/>
	<path class="st0" d="M696.2,233.1c-0.5,0.5-1.2,0.8-1.9,1.1c-0.8,0.2-1.6,0.4-2.4,0.4c-1.9,0-3.4-0.5-4.5-1.6c-1-1-1.6-2.5-1.6-4.4
		V216h-3.7v-2.4h3.7v-4.5h2.8v4.5h6.3v2.4h-6.3v12.3c0,1.2,0.3,2.2,0.9,2.8c0.6,0.6,1.5,1,2.7,1c0.6,0,1.1-0.1,1.7-0.3
		c0.5-0.2,1-0.4,1.4-0.8L696.2,233.1z"/>
	<path class="st0" d="M714.7,215.5c1.4,1.4,2.2,3.3,2.2,6v12.8h-2.7v-3.2c-0.6,1.1-1.6,1.9-2.8,2.5s-2.7,0.9-4.3,0.9
		c-2.3,0-4.1-0.6-5.5-1.7c-1.4-1.1-2-2.6-2-4.4c0-1.8,0.6-3.2,1.9-4.2c1.3-1.1,3.3-1.6,6.1-1.6h6.6v-1.3c0-1.8-0.5-3.1-1.5-4.1
		c-1-0.9-2.5-1.4-4.4-1.4c-1.3,0-2.6,0.2-3.8,0.6s-2.2,1-3.1,1.8l-1.3-2.1c1-0.9,2.3-1.6,3.8-2.1s3-0.7,4.6-0.7
		C711.2,213.5,713.2,214.2,714.7,215.5z M711.5,231.3c1.1-0.7,2-1.8,2.5-3.1v-3.4h-6.5c-3.5,0-5.3,1.2-5.3,3.7
		c0,1.2,0.5,2.2,1.4,2.9s2.2,1,3.9,1C709.1,232.4,710.4,232,711.5,231.3z"/>
	<path class="st0" d="M724.4,205.2h2.8v29.2h-2.8V205.2z"/>
	<path class="st0" d="M753,224.9h-17.3c0.2,2.1,1,3.9,2.5,5.2s3.4,2,5.7,2c1.3,0,2.5-0.2,3.5-0.7c1.1-0.5,2-1.1,2.8-2l1.6,1.8
		c-0.9,1.1-2.1,1.9-3.4,2.5c-1.4,0.6-2.9,0.9-4.5,0.9c-2.1,0-4-0.5-5.6-1.4s-2.9-2.2-3.8-3.8c-0.9-1.6-1.4-3.4-1.4-5.4
		s0.4-3.8,1.3-5.4c0.9-1.6,2.1-2.8,3.6-3.7s3.3-1.3,5.2-1.3s3.6,0.4,5.2,1.3c1.5,0.9,2.7,2.1,3.6,3.7c0.9,1.6,1.3,3.4,1.3,5.4
		L753,224.9z M738,217.8c-1.4,1.3-2.1,2.9-2.3,5h14.7c-0.2-2-1-3.7-2.3-5c-1.4-1.3-3-1.9-5.1-1.9C741,215.9,739.4,216.6,738,217.8z"
		/>
	<path class="st0" d="M759.5,233.8c-1.5-0.5-2.7-1.1-3.6-1.8l1.3-2.2c0.9,0.7,2,1.2,3.3,1.7c1.3,0.4,2.7,0.6,4.1,0.6
		c1.9,0,3.3-0.3,4.2-0.9c0.9-0.6,1.4-1.4,1.4-2.5c0-0.8-0.2-1.4-0.7-1.8c-0.5-0.4-1.1-0.8-1.9-1c-0.8-0.2-1.8-0.4-3-0.6
		c-1.7-0.3-3-0.6-4-1c-1-0.3-1.9-0.9-2.6-1.7c-0.7-0.8-1.1-1.9-1.1-3.3c0-1.7,0.7-3.1,2.2-4.2c1.4-1.1,3.4-1.7,6-1.7
		c1.3,0,2.7,0.2,4,0.5c1.3,0.4,2.4,0.8,3.3,1.4l-1.2,2.2c-1.7-1.2-3.7-1.8-6.1-1.8c-1.8,0-3.1,0.3-4,0.9c-0.9,0.6-1.4,1.5-1.4,2.5
		c0,0.8,0.3,1.4,0.8,1.9s1.1,0.8,1.9,1c0.8,0.2,1.8,0.5,3.1,0.7c1.7,0.3,3,0.6,4,0.9s1.8,0.9,2.6,1.6c0.7,0.8,1.1,1.8,1.1,3.1
		c0,1.8-0.8,3.2-2.3,4.3s-3.6,1.6-6.3,1.6C762.6,234.6,761,234.3,759.5,233.8z"/>
</g>
</svg>