{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'tiz-signature__container',
] %}
<div{{ attributes.addClass(classes) }}>
    <div class="tiz-signature">
        <span class="tiz-signature__label">
            {{ "Réalisé par"|t }}
        </span>
        <a class="tiz-signature__link" href="{{ link }}" target="_blank" rel="noopener noreferrer"  name="{{ "Tiz Agence Digital"|t }}">
            {% include '@tiz_signature/partials/_logo.html.twig' with {
                fill: svg_fill_color,
                height: svg_height
            } %}
        </a>
    </div>
</div>